body {
    --main-text: #e1d6f8;
    --secondary-color: #25629B;
    --third-background: #cdd3f4;
    --deep-background: #03387d;
    --dark-background: #052a6a;
    --bg-grad: 0deg, var(--secondary-color), var(--third-background), var(--deep-background), var(--dark-background), var(--deep-background), var(--secondary-color);
}


body {
    padding: 10px;
    background: linear-gradient(var(--bg-grad));
    background-size: 100vw 300vh;
    position: relative;
    font-family: 'tektur', 'Ubuntu Mono', monospace, 'Courier New', Courier, monospace, fantasy, 'berkeley mono', 'Yeon Sung', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.site-theme-dark {
    color: #dcdcdc;
    --main-text: #cec1e1;
    --secondary-color: #8e80b5;
    --third-background: #8271a1;
    --box-background: #0c001c68;
    --deep-background: #00002b;
    --dark-background: #0f0834;
    --bg-grad: 0deg, var(--deep-background), var(--dark-background), var(--deep-background);
    }


header {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    color: var(--main-text);
}

h1 {
    font-size: 40px;
    text-shadow: var(--third-background) 0px 1px 10px ;
    font-family: 'Oxanium', 'Yeon Sung', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 25px;
}

main {
    display: flex;
}

#search-and-hist {
    /* font-family: 'Courier New', Courier, monospace, fantasy, 'berkeley mono', 'Yeon Sung', cursive, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: var(--main-text);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--deep-background)   
}

.site-theme-dark #search-and-hist {
    background-color: var(--box-background);
}

.input-group {
    font-weight: 500;
    margin-top: 10px;
}

#search-btn {
    background-color: var(--deep-background);
    color: var(--third-background);
    max-width: 130px;
    margin-top: 3px;
}

.grey-btn {
    max-width: 130px;
    margin-top: 3px;
}

.hist-list {
    display: flex;
    flex-direction: column;
}

.hst-Btn {
    background-color: var(--third-background);
    margin-top: 3px;
    max-width: 130px;
    box-shadow: 2px 2px var(--dark-background);
}

.city-name-and-weather-info {
    margin-left: 20px;
    padding: 10px;
}

.city-name-container {
    margin-left: 10px;
}

.city-name-container h2, h3 {
    font-family: 'Orbitron', sans-serif;
    color: var(--main-text);
}

.city-name-header {
    font-size: 20px;
}

.coords {
    font-size: 12px;
}

#weather-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    margin:10px;
    border: 3px solid var(--deep-background);
    word-wrap: normal;
    background-color: var(--main-text);
    padding: 6px;
}

.site-theme-dark .card {
    background-color: var(--box-background);
}

#day-0 {

    min-width: 400px;
}

li {
    font-family: 'Orbitron', sans-serif;
}

.city-name {
    text-align: center;
    font-size: 30px;
}

#clear, #clearli {
    margin-top: 30px;
    font-family: 'Orbitron', sans-serif;
}

@media screen and (max-width: 1000px) {
    main {
      flex-direction: column;
    }
    .hist-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hst-Btn {
        padding: 2px;
        margin-right: 5px;
    }
    .city-name-and-weather-info {
        margin-left: 0px;
    }
    .city-name-container {
        justify-content: center;
        text-align: center;
    }
    #weather-info {
        justify-content: center;
    }
  }